name: release

on:
  push:
    tags:
      - "*"

jobs:
  build_release:
    name: build_release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y rpm
          sudo snap install snapcraft --classic
      - name: Build app and create artifacts
        run: |
          npm install
          npm run build:linux
          # mkdir pulse-remote-desktop
          cp dist/pulse-remote-desktop* pulse-remote-desktop
          # zip -r "pulse-remote-desktop-$GITHUB_REF_NAME.zip" pulse-remote-desktop
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            # ./pulse-remote-desktop-${{ github.ref_name }}.zip
            ./dist/pulse-remote-desktop
            ./dist/dist/pulse-remote-desktop-${{ github.ref_name }}.deb
            ./dist/dist/pulse-remote-desktop-${{ github.ref_name }}.rpm
            ./dist/dist/pulse-remote-desktop-${{ github.ref_name }}.AppImage
            ./dist/dist/pulse-remote-desktop-${{ github.ref_name }}.pkg.tar.zst
