name: release

on:
  push:
    tags:
      - '*'

jobs:
  build_release:
    name: build_release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y rpm
          sudo snap install snapcraft --classic
      - name: build
        run: |
          npm install
          npm run build:linux
          mkdir pulse-remote-desktop
          cp dist/pulse-remote-desktop* pulse-remote-desktop
          zip -r "pulse-remote-desktop-$GITHUB_REF_NAME.zip" pulse-remote-desktop

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./pulse-remote-desktop-${{ github.ref_name }}.zip
            ./dist/pulse-remote-desktop
